.slide-row.flickity-enabled {
  width: 100%;
}

.slide-row.large-columns-1 .flickity-slider > .col {
  width: 100%;
  max-width: 100%;
}

.slide-row .flickity-slider > .col {
  min-width: 0;
}

.slide-row .flickity-page-dots {
  bottom: -24px;
}
